<% if @current_user %>

<h1>Places</h1>

<div class="row mt-4">
  <div class="col text-left">
    <a href="/places/new/" class="btn btn-success">New Place</a>
  </div>
</div>

<div class="mt-3">
  <p>
    <% for place in @places %>
      <p> 
        <a href="/places/<%= place["id"] %>"><%= place["name"] %></a> 
      </p>
    <% end %>
  <p>
</div>

<% else %>
  <p> Please log in. </p>
<% end %>